.formrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formrp input{
    width: 250px;
    height: 25px;

}
.signrp{
    text-align: center;
}
.formrp div{
    margin: 10px;
}
